{% extends 'base.html.twig' %}

{% block title %}Menu Cart{% endblock %}

{% block body %}
<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{dish1.name}}</span> for everyone.</h2>
								<p>Hungry? Let's grab a bite! These foods can be selected with a mild, hot, or fiery level of pepper mix. {{dish1.description}} </p>
								<a href="{{path('menu')}}" class="site-btn">Menu Cart</a>
								<a href="{{path('create_order', {id: dish1.id})}}" class="site-btn sb-c2">Order</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{{asset('images_dish/'~ dish1.image)}}" alt="">
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{dish2.name}}</span> for everyone.</h2>
								<p>Hungry? Let's grab a bite! These foods can be selected with a mild, hot, or fiery level of pepper mix.{{dish2.description}} </p>
								<a href="{{path('menu')}}" class="site-btn">Menu Cart</a>
								<a href="{{path('create_order', {id: dish2.id})}}" class="site-btn sb-c2">Order</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{{asset('images_dish/'~ dish2.image)}}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

{% endblock %}
